


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .main .banner .site-title h1{
       font-size: 1em;
       margin:0%;
       padding: 0;
      text-align: center;
     
    
    }
    
    .main .banner .site-title h4{
   
      
        text-align: center;
    
    
}

    .container{
        max-width: 100%;
    }
    
    #contact {
        margin-top:12em;
    }

}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
  .main .banner .site-title h1{
       font-size: 2em;
       margin:0%;
       padding: 0;
      text-align: center;
    
    }
    .about-image {
    
    text-align: center;
        margin: 0;
    
}

    
    .main .banner .site-title h4{
   
      
        text-align: center;
    
    
}
    .about-me .about-title{
        text-align: center;
        
    }

    .container{
        max-width: 100%;
    }
    
    #contact {
        margin-top:12em;
    }
    .column {
    width: 100%;
    display: block;
    margin-bottom: 0px;
    margin: 0 0 0 0 ;
  }


}


/* if the viewport is equal to 1910px or less than that  */
@media only screen and (max-width: 1500px){
    
    .banner-image > img{
    
    border-radius: 2em;
    
    margin-top: 5em;
    width:20%;
    margin-left: 40%;
    margin-right: 40%;
}

.main .banner .site-title h3::after{
 
    width: 18vw;

    
}

    
   .main .banner .site-title h1{
       font-size: 4em;
       margin:2%;
       padding: 0;

    
    }
    
    .main .banner .site-title h4{
   
      margin-left:10%;
    margin-right: 10%;
        text-align: center;
    
    
}

    .container{
        max-width: 100%;
    }
    
    #contact {
        margin-top:12em;
    }
     #valdiationbutton{
        margin-top: 1%;
    
    }


}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1800px){
   .main .banner .site-title h1{
    text-align: center;
    }
    
    
.main .banner .site-title h3::after{
    content: " ";
    height: 5px;
    margin: 0;
    width: 15vw;
    text-align: center;

    
}
    
    .main .banner .site-title h4{
   
    text-align: center;
    
    
}

    .container{
        max-width: 100%;
    }
    #contact {
        margin-top: 10em;
    }

}

@media only screen and (max-width: 1920px){
   .main .banner .site-title h1{
       text-align: center;
     
      
    }
    
    
.main .banner .site-title h3::after{
    content: " ";
    height: 5px;
    width: 18vw;
    margin: 0;
    padding: 0;
    text-align: center;

    
}
    
    .main .banner .site-title h4{
   
      text-align: center;
    
    
}

    .container{
        max-width: 100%;
    }
    #contact {
        margin-top: 10%;
    }
    
    #valdiationbutton{
        margin-top: 1%;
    
    }
    
    .site-buttons{
    margin-left: 30%;
}
    
    .contact-me{
        margin-top: 0;
    }

    .site-buttons{
        text-align: center;
    }

}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 50px;
      margin: 0 0 100px;
  }
      .main .banner .site-title h1{
       font-size: 4em;
       margin:0%;
       padding: 0;
      text-align: center;
    
    }
    
    
.main .banner .site-title h4{
    font-size: 1.7em;
      text-align: center;
    font-family: cursive;
    
}
    
    
.banner-image > img{
    
    border-radius: 2em;
  
    
    margin-top: 10em;
    width:40%;
    margin-left: 30%;
    margin-right: 40%;
}
    
    
.main .banner .site-title h3::after{
    content: " ";
    height: 5px;
    width: 30vw;
    background: skyblue;
    display: inline-block;
    
    transform: translateY(-10px);
    
}

    
.site-buttons{
    
    font-size: 0em;
      margin-left: 0%;
    margin-right: 0%;
}
.banner-button{
    width: 340em;
    margin-left: 0%;
    margin-top: 2%;
    color: deepskyblue;
    background-color: white;
    font-family: cursive;
    border-radius: 2em;
    border-color: black;
    cursor: pointer;
}
    
    .main .about-me{
    padding: 0em 0em 0em 0em;
}
    #Education{
   margin-top:1.2rem;
   height: 80px;
}
    #Module{
        margin-bottom: 1em;
        
    }

    .skill-image {
    
    margin-top: 2em;
    margin-left: 0%;
    
}
    
    .skill-title{
        text-align: center;
    }
    #university-title, #work-title{
        margin: 0em;
        width: 100%;
    }
    #contact {
        margin-top: -7em;
    }
    #valdiationbutton{
        margin-top: 4%;
    
    }
}


/* Responsive columns */
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 50px;
      margin: 0 0 100px;
  }
      .main .banner .site-title h1{
       font-size: 4em;
       margin:0%;
       padding: 0;
      text-align: center;
    
    }
    
    
.main .banner .site-title h4{
    font-size: 1.7em;
      text-align: center;
    font-family: cursive;
    
}
    
    
.banner-image > img{
    
    border-radius: 2em;
  
    
    margin-top: 10em;
    width:40%;
    margin-left: 30%;
    margin-right: 40%;
}
    
    
.main .banner .site-title h3::after{
    content: " ";
    height: 5px;
    width: 30vw;
    background: skyblue;
    display: inline-block;
    
    transform: translateY(-10px);
    
}

    
.site-buttons{
    
    font-size: 0em;
      margin-left: 0%;
    margin-right: 0%;
}
.banner-button{
    width: 340em;
    margin-left: 0%;
    margin-top: 2%;
    color: deepskyblue;
    background-color: white;
    font-family: cursive;
    border-radius: 2em;
    border-color: black;
    cursor: pointer;
}
    
    .main .about-me{
    padding: 0em 0em 0em 0em;
}
    #Education{
   margin-top:1.2rem;
   height: 80px;
}
    .about-image {
    
    margin:0;
        width: 50%;
        margin-left: 25%;
            margin-right:25%
        
    

    
}
    .about-title{
        text-align: center;
    }
    #Module{
        margin-bottom: 1em;
        
    }

    .skill-image {
    
    margin-top: 2em;
    margin-left: 0%;
    
}
    
    .skill-title{
        text-align: center;
    }
    #university-title, #work-title{
        margin: 0em;
        width: 100%;
    }
    #contact {
        margin-top: -7em;
    }
    #valdiationbutton{
        margin-top: 4%;
    
    }
}


  

